body{
    background: #181E34;
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 150%;
    color: #fff;
}

.container{
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ===================================================== */

.header{
    padding: 30px 0 36px;
}

.header__inner{
    display: flex;
    align-items: center;
}

.header__nav{
    margin-left: auto;
}

.header__list{
    display: flex;
}

.header__list-item{
    margin-right: 30px;
}

.header__button{
    color: #2766AE;
    background: #FFFFFF;
    border-radius: 100px;
    padding: 14px 30px;
    font-weight: 500;
}

/* ================================================== */

.hero{
    padding: 120px 0;
    background: url("../images/bg.jpg") 10% 50% / cover no-repeat;
}

.hero__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hero__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__text{
    max-width: 436px;
}

.hero__text span{
    text-transform: uppercase;
    font-weight: 700;
    color: #01A2CB;
}

.hero__text-spec{
    margin-bottom: 15px;
}

.hero__buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.hero__button-one, .hero__button-two{
    border-radius: 100px;
    padding: 18px 30px;
    display: flex;
    justify-content: center;
}

.hero__button-one img, .hero__button-two img{
    margin-left: 4px;
}

.hero__button-one{
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    margin-bottom: 10px;
}

.hero__button-two{
    background: linear-gradient(95.22deg, #00A4CC 6.7%, #2766AE 91.35%);
}

/* ================================================== */

.cards{
    padding: 120px 0;
}

.cards__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.cards__text{
    text-align: center;
    max-width: 513px;
    margin: 0 auto 60px;
}

.cards__main{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
    margin-bottom: -28px;
    padding-bottom: 30px;
}

.cards__main-item{
    margin-bottom: 28px;
    padding: 0 14px;
    flex: 0 0 25%;
}

.cards__main-inner{
    background: #197CB8;
    border: 2px solid #176BAE;
    box-shadow: 4px 4px 13px rgba(5, 13, 41, 0.76);
    border-radius: 16px;
    padding: 28px 15px;
}

.cards__main-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}
.cards__main-text{
    text-align: center;
}

.cards__button{
    display: block;
    border-radius: 100px;
    padding: 18px 30px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    text-align: center;
    max-width: 436px;
    margin: 0 auto;
}

/* =========================================== */

.footer{
    padding: 60px 0;
    border-top: 1px solid #323952;
}

.footer__inner{
    display: flex;
}

.footer__text{
    max-width: 267px;
    margin-right: auto;
}

.footer__text img{
    margin-bottom: 15px;
}

.footer__title{
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__list-item{
    margin-bottom: 10px;
}

.footer__stolbik2{
    margin: 0 89px 0 117px;
}

.footer__stolbik1{
    margin-left: 10px;
}