.child{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300px;
  line-height: 30px;
  font-size: 20px;

}

.child-1{
  text-decoration: line-through;
}

.child-2{
  text-transform: uppercase;
  text-align: center;
}

.child-3{
  word-spacing: 30px;
  text-decoration: wavy overline;
  text-shadow: 2px 1px 2px rgb(87, 26, 65);
  
}

.child-4{
  letter-spacing: 5px;
  text-decoration: underline double;
  
}